body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    height: 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.bloco-menor {
    width: 100%;
    justify-content: space-around;
    flex-grow: 1;
    padding: 8px;
}

.container-do-meio {
    width: 100%;
    justify-content: space-around;
    flex-grow: 5;
    padding: 10px;
}
.black-block {
    flex-grow: 1;
    height: 100%;
    margin: 10px;
    background-color:  black;
    color: white;
}

.black-block:first-child {
    margin-left: 15px;
}

.black-block :last-child {
    margin-left: 15px;

}
.bloco-menor>div:first-child {
    flex-grow: 2;
    margin: 0px;
    height: 100%;
    border: none;
}

.bloco-menor div {
    flex-grow: 1;
    margin: 10px;
    height: 100%;
    border: solid 1px black;
}



#first-block {
    width: 100%;
    flex-grow: 2;
    background-color: red;
}

.blue-block {
    background-color: blue;
}

.yellow-block {
    background-color: yellow;
}

.green-block {
    background-color: green;
}

.black-block {
    background-color: black;
    color: white;
}

.white-block {
    background-color: white;
}
